
*.json
Charity.xcodeproj/xcuserdata/galinamaslova.xcuserdatad/xcschemes/xcschememanagement.plist
Charity.xcodeproj/project.pbxproj
.DS_Store
Charity.xcodeproj/xcuserdata/galinamaslova.xcuserdatad/xcschemes/xcschememanagement.plist
Charity.xcodeproj/project.xcworkspace/xcuserdata/galinamaslova.xcuserdatad/UserInterfaceState.xcuserstate
